.topbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 60px;
  background-color: var(--surface-card);
  border-bottom: 1px solid var(--surface-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .topbar-left {
    align-items: center;
    width: 60px;
    margin-left: 16px;
    cursor: pointer;
    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--primary-color);
      margin: 0;
    }
  }

  .topbar-spacer {
    width: 290px;
    margin-left: -76px;
  }

  .topbar-title-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    h1 {
      margin: 0;
      color: var(--primary-color);
    }
  }

  .topbar-menu {
    flex: 1;
    margin: 0 1rem;

    ::ng-deep .p-menubar {
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  .topbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .topbar {
    .topbar-spacer {
      width: 0;
      margin-left: 0;
    }
  }
}

.command-key {
  align-items: center;
  background: var(--p-text-muted-color);
  border: 0;
  border-radius: 2px;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: .4em;
  padding: 0 0 1px;
  width: 20px;
}

.tool{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid var(--p-dialog-border-color);
  margin-bottom: 1rem;
  &.active{
    background-color: var(--p-primary-color);
  }
}