// .leftbar {
//   height: 100%;
//   width: 250px;
//   background-color: var(--surface-card);
//   border-right: 1px solid var(--surface-border);
//   padding: 1rem;
//   overflow-y: auto;

//   ::ng-deep {
//     .p-panelmenu .p-panelmenu-header > a {
//       padding: 0.75rem;
//       border: none;
//       border-radius: 6px;
//       transition: box-shadow 0.2s;

//       &:hover {
//         background-color: var(--surface-hover);
//       }

//       &:focus {
//         box-shadow: 0 0 0 1px var(--primary-color);
//       }
//     }

//     .p-panelmenu .p-panelmenu-content {
//       border: none;
//       background: transparent;
//       padding-left: 1rem;
//     }

//     .p-panelmenu .p-panelmenu-panel {
//       margin-bottom: 0.5rem;
//     }

//     .p-panelmenu .p-menuitem-text {
//       color: var(--text-color);
//     }

//     .p-panelmenu .p-menuitem-icon {
//       color: var(--text-color-secondary);
//     }

//     .p-highlight {
//       .p-menuitem-text, .p-menuitem-icon {
//         color: var(--primary-color) !important;
//       }
//     }
//   }
// } 

:host {
  display: block;
  width: var(--leftbar-width, 15rem);
  height: 100%;
  overflow-y: auto;
  background-color: var(--surface-card);
  border-right: 1px solid var(--surface-border);
  @media (max-width: 768px) {
    display: none;
  }
}

::ng-deep {
  .p-menu {
    width: 100%;
    border: none !important;
    background: transparent !important;
  }
}

.leftbar-menu {
  @media (max-width: 768px) {
    display: none;
  }
}