<div class="leftbar-menu">
  <p-menu [model]="items" styleClass="w-full">
    <ng-template #submenuheader let-item>
        <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
        <a pRipple class="flex items-center p-menu-item-link" [routerLink]="item.routerLink" routerLinkActive="active-menuitem" [routerLinkActiveOptions]="{exact: item.routerLink === '/'}">
            <!-- <span [class]="item.icon"></span> -->
            <i-tabler [name]="item.icon"></i-tabler>
            <h6 class="ml-2">{{ item.label }}</h6>
            <i-tabler *ngIf="item.isFavorite" name="star-filled" class="ml-auto text-yellow-500 icon-sm"></i-tabler>
            <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                {{ item.shortcut }}
            </span>
        </a>
    </ng-template>
  </p-menu>
</div>