// .leftbar {
//   height: 100%;
//   width: 250px;
//   background-color: var(--surface-card);
//   border-right: 1px solid var(--surface-border);
//   padding: 1rem;
//   overflow-y: auto;

//   ::ng-deep {
//     .p-panelmenu .p-panelmenu-header > a {
//       padding: 0.75rem;
//       border: none;
//       border-radius: 6px;
//       transition: box-shadow 0.2s;

//       &:hover {
//         background-color: var(--surface-hover);
//       }

//       &:focus {
//         box-shadow: 0 0 0 1px var(--primary-color);
//       }
//     }

//     .p-panelmenu .p-panelmenu-content {
//       border: none;
//       background: transparent;
//       padding-left: 1rem;
//     }

//     .p-panelmenu .p-panelmenu-panel {
//       margin-bottom: 0.5rem;
//     }

//     .p-panelmenu .p-menuitem-text {
//       color: var(--text-color);
//     }

//     .p-panelmenu .p-menuitem-icon {
//       color: var(--text-color-secondary);
//     }

//     .p-highlight {
//       .p-menuitem-text, .p-menuitem-icon {
//         color: var(--primary-color) !important;
//       }
//     }
//   }
// } 

:host {
  display: block;
  min-width: 290px;
  height: 100%;
  overflow-y: auto;
  background-color: var(--surface-card);
  border-right: 1px solid var(--surface-border);
  padding-left: 1rem;
  @media (max-width: 768px) {
    display: none;
  }
}

::ng-deep {
  .p-menu {
    width: 100%;
    border: none !important;
    background: transparent !important;
  }  
  // Стили для активного пункта меню
  .active-menuitem {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 6px;
    
    span, h6 {
      color: white !important;
    }
  }
  
  // Также можно добавить hover-эффект для неактивных пунктов, но с более светлым оттенком primary
  .p-menu-item-link:not(.active-menuitem):hover {
    background-color: rgba(var(--primary-color-rgb), 0.1) !important;
    border-radius: 6px;
  }
}

.leftbar-menu {
  @media (max-width: 768px) {
    display: none;
  }
}