:host ::ng-deep {
  // Растягиваем textarea на всю высоту
  .p-inputtextarea {
    resize: none;
    min-height: 200px;
  }
  
  // Стили для индикатора обнаруженного типа файла
  .text-success {
    color: var(--green-500);
  }
  
  // Стилизация полей формы
  .p-inputgroup {
    .p-inputgroup-addon {
      background-color: var(--surface-ground);
      color: var(--text-color-secondary);
      border-color: var(--surface-border);
      
      &:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }
  }
} 
:host{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}