<div class="mb-2 p-3">
  <h2 class="text-lg text-700 flex justify-between items-center">
    <ng-content></ng-content>

    <button *ngIf="isFavorite" pButton type="button" [rounded]="true" [outlined]="false" (click)="toggleFavorite()" class="favorite-button">
      <i-tabler *ngIf="isFavorite" name="star-filled" class="icon-sm"></i-tabler>
    </button>
    <button *ngIf="!isFavorite" pButton type="button" [rounded]="true" [outlined]="true" (click)="toggleFavorite()" class="favorite-button">
      <i-tabler *ngIf="!isFavorite" name="star" class="icon-sm"></i-tabler>
    </button>
  </h2>
</div> 