.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
}

:host {
  display: block;
  min-height: 100%;
  background-color: var(--surface-900);
  color: var(--text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.tool-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #1c2334;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  box-shadow: var(--card-shadow);
  color: white;
  
  &:hover {
    transform: translateY(-5px);
    
    .card-content {
      filter: blur(2px);
      opacity: 0.7;
    }
    
    .hover-overlay {
      opacity: 1;
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
  .open-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
  }
  
  .open-icon {
    font-size: 1.2rem;
    color: var(--primary-color);
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-200);
  margin-bottom: 1rem;
  
  i {
    font-size: 1.7rem;
    color: var(--primary-color);
  }
}

.tool-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.tool-description {
  color: var(--text-secondary-color);
  font-size: 0.9rem;
  margin-bottom: 1rem;
  height: 2.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tool-action {
  margin-top: auto;
  
  .p-button-outlined {
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    
    &:hover {
      background: var(--primary-50);
    }
    
    .p-button-icon {
      font-size: 0.85rem;
    }
  }
}

h1, h2 {
  color: var(--text-color);
}

.text-700 {
  color: var(--text-secondary-color) !important;
}

/* Адаптивная верстка */
@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
} 